/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2020/07/26/02/28/jellyfish-5438288_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 231, 238, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100px;
  margin: 10px 10px;
  gap: 20px;
  border: 1px solid gray;
  border-radius: 10px 10px;
  color: white;
}
header h1 {
  font-weight: 800;
  font-size: 1.5em;
}
header nav {
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  width: 100%;
  padding: 0px 0px;
}
main .div_button_add_card {
  height: 85px;
}
main #button_add_card {
  width: 60px;
  height: 60px;
  margin: 10px 0px 10px 20px;
  text-align: center;
  border-radius: 30px;
  border-color: rgb(160, 160, 160);
}
main #button_add_card:hover {
  width: 70px;
  height: 70px;
  margin: 5px 0px 5px 15px;
  border-radius: 35px;
  transform: scale(105%);
}
main #article_pinned_card {
  display: none;
  width: 100%;
  height: 100px;
}
main #article_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  margin: 0px 10px;
}
main .sectionCard {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 50px;
  margin: 0px 10px;
  border: 0.5px solid black;
  border-radius: 15px;
}
main .sectionCard .divCheckbox {
  line-height: 50px;
}
main .sectionCard .content {
  width: 90%;
  height: 100%;
  padding-left: 10px;
  text-align: left;
  line-height: 50px;
}
main .sectionCard .content .inputUser {
  display: none;
  position: relative;
  top: 12px;
  width: 130px;
  height: 20px;
}
main .sectionCard .content:hover {
  background-image: url(https://icons.veryicon.com/png/256/internet--web/web-icon/modification-general.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 30px;
}
main .sectionCard .divTrashBin {
  width: 10%;
  height: 100%;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipground.com%2Fimages%2Fcross-symbol-png-1.png&f=1&nofb=1&ipt=72d95a7a5b10a0daa55ae80ca6c31de76186d829d21ef844aa320301722a55c2&ipo=images);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 20px;
  border-radius: 200px 100px 100px 200px;
  text-align: center;
  line-height: 50px;
}
main .sectionCard .divTrashBin:hover {
  background-color: rgba(220, 220, 220, 0.5);
  filter: opacity(0.3);
}
main section:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=main.css.map */